@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  color: #fff;
  background-color: #000;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.main {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head {
  position: relative;
}
.red-txt {
  color: #e62429;
  letter-spacing: 1px;
  font-weight: 500;
}
.author-name {
  position: absolute;
  bottom: -5px;
  right: -70px;
}
.head > h1 {
  font-size: 72px;
  font-weight: 300;
  margin-bottom: 50px;
}
.author-name > p {
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
}
.red-bar {
  position: absolute;
  right: 8%;
  bottom: -10%;
  border: none;
  height: 1px;
  width: 70px;
  background-color: #e62429;
}
.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator {
  height: 50px;
  width: 2px;
  background-color: #e62429;
}
.links-container ul {
  width: 50%;
}
.link-heading {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}
.links-container > ul > li {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
.pos-rel {
  position: relative;
}
.red-head-bar {
  position: absolute;
  right: 1px;
  bottom: 0;
  border: none;
  height: 1px;
  width: 35px;
  background-color: #e62429;
}
.links-container > ul > li:hover {
  color: #e62429;
}
/* RESPONSIVENESS */
@media (max-width: 768px) {
  .main {
    height: auto;
  }
  .head > h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .author-name {
    bottom: -20%;
    right: 50%;
    transform: translateX(50%);
  }
  .author-name > p {
    font-size: 10px;
  }
  .red-bar {
    right: 10%;
    width: 55px;
  }
  .links-container {
    flex-direction: column;
    gap: 30px;
  }
  .separator {
    height: 1px;
    width: 50px;
  }
  .link-heading {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .red-head-bar {
    width: 30px;
  }
  .links-container > ul > li {
    margin-bottom: 5px;
    font-size: 14px;
  }
}
